---
layout:      section
permalink:   /codex/
description: The Codex is a compendium of knowledge to aid those on the path to fulliling their potiential by following The Code.
title:       The Codex
---

<p>The Codex is a compendium of knowledge to aid those on the path to fulliling their potiential by following <a href="/code/">The Code</a>.
{% for category in site.categories %}
  <h2 id="{{ category | first }}">{{ category | first | capitalize }}</h2>
  {% assign posts_by_title = category.last | sort: "title" %}
  <ul>{% for post in posts_by_title %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
  </ul>{% endfor %}
