<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Dan Brubaker Horst" />{% if page.description %}
    <meta name="description" content="{{ page.description }}" />{% else %}
    <meta name="description" content="{{ page.content| markdownify | strip_html | truncatewords:50 }}" />{% endif %}

    <meta http-equiv="cleartype" content="on" />
    <link rel="preload" as="font" type="font/woff2" href="/fonts/berkeley-mono.woff2" crossorigin />
    <link rel="preload" as="font" type="font/woff2" href="/fonts/berkeley-mono-bold.woff2" crossorigin />
    <link rel="preload" as="font" type="font/woff2" href="/fonts/berkeley-mono-italic.woff2" crossorigin />
    <link rel="preload" href="/css/site.css?{% css_version %}" as="style" />
    <link rel="stylesheet" href="/css/site.css?{% css_version %}" />

    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="/apple-touch-icon-192x192.png" />
    <link rel="apple-touch-icon" sizes="512x512" href="/apple-touch-icon-512x512.png" />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="mask-icon" href="/favicon.svg" type="image/svg+xml" color="F00" />

    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#F00" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#000" media="(prefers-color-scheme: dark)" />
    <meta name="color-scheme" content="light dark" />

    <link rel="canonical" href="{{ site.domain }}{{ page.url }}" />
    <link rel="alternate" type="application/atom+xml" title="The Tenfold Path Codex" href="/feed.xml" />
  </head>
{{ content }}
</html>
