<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Dan Brubaker Horst" />{% if page.description %}
    <meta name="description" content="{{ page.description }}" />{% else %}
    <meta name="description" content="{{ page.content| markdownify | strip_html | truncatewords:50 }}" />{% endif %}

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="{{ site.domain }}{{ page.url }}" />{% if page.image %}
    <meta property="og:image" content="{{ page.image }}" />{% else %}
    <meta property="og:image" content="{{ site.domain }}{{ site.icon_url }}" />{% endif %}{% if page.type %}
    <meta property="og:type" content="{{ page.type }}" />{% else %}
    <meta property="og:type" content="article" />{% endif %}{% if page.extra_metadata %}
{{ page.extra_metadata }}{% endif %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:creator" content="@danhorst" />
    <meta name="twitter:url" content="{{ site.domain }}{{ page.url }}" />{% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}" />{% else %}
    <meta name="twitter:description" content="{{ page.content| markdownify | strip_html | truncatewords:50 }}" />{% endif %}

    <link rel="canonical" href="{{ site.domain }}{{ page.url }}" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="meta" type="application/rdf+xml" title="FOAF" href="{{ site.domain }}/danhorst.rdf" />

    <meta http-equiv="cleartype" content="on" />
    <link rel="preload" as="font" type="font/woff2" href="/fonts/berkeley-mono.woff2" crossorigin />
    <link rel="preload" as="font" type="font/woff2" href="/fonts/berkeley-mono-italic.woff2" crossorigin />

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#323232" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)" />
    <meta name="color-scheme" content="light dark" />
    <meta name="darkreader-lock" />
  </head>
  <body>

    {{ content }}

  </body>
</html>
