<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Dan Brubaker Horst">{% if page.description %}
    <meta name="description" content="{{ page.description }}">{% else %}
    <meta name="description" content="{{ page.content| markdownify | strip_html | truncatewords:50 }}">{% endif %}

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:creator" content="@danhorst">
    <meta name="twitter:url" content="{{ site.domain }}{{ page.url }}">{% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">{% else %}
    <meta name="twitter:description" content="{{ page.content| markdownify | strip_html | truncatewords:50 }}">{% endif %}

    <link rel="canonical" href="{{ site.domain }}{{ page.url }}" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="meta" type="application/rdf+xml" title="FOAF" href="/foaf.rdf" />

    <script src="/js/vendor/modernizr.js"></script>
    <script>
      var _gaq=[['_setAccount','{{ site.analytics_token }}'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </head>
  <body class="page {{ page.presenter }} {{ page.category }}">

{{ content }}

  </body>
</html>
