---
layout: boilerplate
---
{% include banner.html %}

<main>
  <article>
    <header class="masthead">
      {% if page.tagline %}
      <hgroup>
        <h1 class="headline">{{ page.title }}</h1> <span class="visually-hidden">&mdash;</span>
        <p class="tagline">{{ page.tagline }}</p>
      </hgroup>
      {% else %}
      <h1 class="headline">{{ page.title }}</h1>
      {% endif %}
    </header>

{{ content }}
  </article>
</main>

<footer class="page-footer">
  <nav class="navigation">
    <a href="/">Home</a>
  </nav>
</footer>
